// $background: #F6F6F6;
// $dark: #333333;
// $accentLight: #9AFB6B;
// $accentDark: #4C7EB1;
// $highlight: #F5696C;

$background: #F4F4F4;
$dark: #1C2D4D;
$accentLight: #CDFFBD;
$accentDark: #7A6BFF;
$highlight: #585180;


@import 'https://fonts.googleapis.com/css?family=Space+Mono';


.highlight {
	border-bottom: 5px solid $highlight;
}

* {
	font-family: 'Space Mono', monospace;
}

#current .highlight {
	font-family: sans-serif;
	border-color: $dark;
}

a {
	color: black;
	text-decoration: none;
	border-bottom: 4px solid $accentLight
}

a:hover {
	color: $accentLight;
	background-color: $accentDark;
}

.date {
	background-color: $accentLight;
	opacity: 0.5;
}

.position {
	background-color: $highlight;
	font-weight: 500;
}

.entry {
	border-bottom: 1px dotted $dark;
	margin-bottom: 20px;
}

p .highlight {
	border-bottom: 2px solid $highlight;
}

pre {
	height: 100px;
	background-color: $accentDark;
}
