@font-face{
    font-family: loll;
    src: url(static/Fonts/font.otf)

}
@font-face{
    font-family: AYTBIT;
    src: url(static/Fonts/8bit_wonder/8-BIT_WONDER.TTF);}

@font-face{
    font-family: REST;
    src: url(static/Fonts/Print-Clearly/PrintClearly.otf)
}
@-webkit-keyframes turn {
			100% { -webkit-transform:  rotate(-90deg);
}}


.text{
    padding: 5px;
    padding-left: 10px;
    text-align: center;
}
body{
    font-family: REST;
}
#left {
    float: left;
    height: 10px;
}
#left:hover {
    height: 30px;
    -webkit-animation-name: turn;
			-webkit-animation-duration: 2s;
			-webkit-transform-origin:	100% 100%;
			-webkit-animation-iteration-count: 1;
			-webkit-animation-timing-function: linear;
}

#title{
    font-family: aytbit;
    color: #599CDE;
    text-align: center;
}
.smaller{
    margin-right: 45px;
    margin-left: 45px;
}
iframe {
    display: none;
}
ul li:first-child:hover iframe{
   display:block;
    width: 600;
    height: 700;
}

.projects {
  font-family: "courier new";
    margin-right: 45px;
    margin-left: 45px;
}
li{
    text-align: center;
}

#makeeighty{
    height: 80px;
}

.description{
    display: none;
}

.projects:hover div {
    display: block;
    }
li #bot {
    display: inline;
}
#finish {
    position:absolute;
    bottom:0;
    right:0;
    list-style-type: none;
    padding-right: 10px;
}
.link {
    font-family: loll;
}

