* {
	margin:0;
	padding: 0;
	font-family: courier;
	background-color: #333;
	color: white;
	font-size: 1em;
}

p {
	text-align: center;
}
.key {
	color: lightblue;
}
table {
	margin: 0 auto;
}

div {
	margin-top: 40px;
}
footer {
	position: fixed;
	bottom: 0px;
}

#vim {
	border: none;
}

#vim:focus {
	outline: 0;
}
