* {
    font-family: 'Monaco';
    letter-spacing: 1px;
    background-color: #f4f4f4;
    color: #333;
    font-size: 14px;
}

#name {
    font-family: "times new roman";
    font-size: 51px;
    letter-spacing: -2px;
    font-weight: bold;
}

#resume {
    color: #D4B390;
    letter-spacing: normal;
    font-size: 30px;
    font-weight: 100;
}

h3 {
    font-size: 24px;
    display: block;
    padding: 20px;
    font-style: italic;
}

.italics {
    font-style: italic;
}

.date {
    color: #DBABB7;
    font-size: 12px;
}

.title {
    font-size: 16px;
}

.section-title {
    color: #D4B390;
    font-size: 30px;
}



#first {
    font-family: "times new roman", serif;
    margin: 0;
    margin-top: 10px;
    padding: 0px 0px 6px 0px;
    font-size: 51px;
    line-height: 44px;
    letter-spacing: -2px;
    font-weight: bold;
}

#resume {
    font-familyl: Gill Sans, Verdana;
    font-size: 11px;
    line-height: 14px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: bold;
}

.back {
    margin: 10px;
    width: 50px;
    height: 50px;
    border-radius: 25px;
    border-color: red;
    font-size: 20px;
    color: #444;
    line-height: 50px;
    text-align: center;
    background: #90C3D4;
}