* {
    font-family: 'Monaco';
    letter-spacing: 1px;
    background-color: #444;
    color: #90C3D4;
    font-size: 14px;
}

#name {

    font-family: "times new roman";
    font-size: 51px;
    letter-spacing: -2px;
    font-weight: bold;
}

#resume {
    color: #D4B390;
    letter-spacing:normal;
    font-size: 30px;
    font-weight:100;
}

h3 {
    font-size: 24px;
    display:block;
    padding: 20px;
    font-style: italic;
}

.italics {
    font-style: italic;
}

.date {
    color: #DBABB7;
  font-size: 12px;
}

.title {
   font-size: 16px;
}

.section-title {
    color: #D4B390;
    font-size: 30px;
}