@import url(http://fonts.googleapis.com/css?family=Ranga:400,700|Rajdhani:400,700|Magra:400,700);
html {
    width: 100%;
    height: 100%;
    clip: auto;
    position: absolute;
    overflow: hidden;
}

* {
    margin: 0;
    padding: 0;
    font-family:monospace;
    color: #4A4A4A;
}


body {
    background-color: cadetblue;
}

.content {
    background-color: red;
    margin-top: 20%;
    display:flex;
    text-align: center;
    width: 100%;
    height: 100px;
    margin: auto;
}

.firstname{
    font-size: 50px;
}

.lastname {
    font-size: 26px;
}