@import url(http://fonts.googleapis.com/css?family=Roboto:300);
html,
body {
    height: 100%;
}

body {
    margin: 0;
}

a {
    text-decoration: none;
    color: #000000;
}

a:hover {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

.flex-container {
    height: 100%;
    padding: 0;
    margin: 0;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center;
}

.row {
    width: auto;
}

.Smallheadline {
    font-family: 'Roboto', Verdana;
    font-size: 15px;
    line-height: 18px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: bold;
}

.Largeheadline {
    font-family: times, Times New Roman, times-roman, georgia, serif;
    color: #444;
    margin: 0;
    padding: 0px 0px 6px 0px;
    font-size: 60px;
    line-height: 44px;
    letter-spacing: -2px;
    font-weight: bold;
}

.bcolor {
    color: skyblue;
}