html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

body {
  margin: 0;
  font-size: 14px;
  font-family: sans-serif;
  line-height: 20px;
  color: #333333;
  background-color: #81A5BB;
  -webkit-font-smoothing: antialiased;
}

a {
  text-decoration: none;
  color: #28D5BA;
}

::selection {
  background: #0E6AA2; /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: #0E6AA2; /* Gecko Browsers */
}
#code {
/*  margin-top:150px;*/
  border-radius: 5px;
  width:750px;
  margin: 0 auto;
  padding-top:15px;
  font-size:30px;
  background: #ccc;
  height: 1000px;
  font-family: 'Monaco', 'Courier New';
  text-align: left;
  font-size:13px;
  color: #fafafa;
}

#console {
  width:670px;
  padding: 40px;
  height: 920px;
  margin:0 auto;
  background: #383737;
}

span.answer {
  color:#ccc;
}




@media screen and (max-width:700px) {
  #code, #console {
    width: 100%;
    overflow: hidden;
  }

  
}




@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
  
  #code, #console {
    height:auto;
  }
  #console {
    padding: 20px;
  }

  #code {
    margin-bottom: 20px;
  }
}