@font-face{
    font-family: AYTBIT;
    src: url(../static/Fonts/8bit_wonder/8-BIT_WONDER.TTF);


} 

body {
    font-family: "andale mono";
    padding: 0;
    background: #FFF;
    height: 100%;
    
}
strong{
    font-size: .813em
}

#list {

}
#head{
    color: white;
    text-shadow: black 0.1em 0.1em 0.2em;
    margin-left: 0;
    margin-right: 0;
    background-color: #0A90F7;
    padding: 1.250em;
    font-size: 1.688emx;
    font-family: AYTBIT;
    
}

.main {
    margin: 0;
    padding: 2em;
    background-color: #white;

}

.left{
    position: absolute;
    padding: .313em;
    margin-right: 60%;
    font-family: "andale mono"
}
.level1 {
    border:.125em;
    border-style: groove;
    margin-left: 40%;
    background: white;
}

.level2{
    background: white;

}

.level3 {
    bottom: 0;
    font-family: "andale mono";
    width:100%;
    text-align: center;
    background:#CCC; 
	} 
.layer4{
    vertical-align: top;
    width:100%;
    display: inline-block;
    background: grey;
}

#lift{
    margin-bottom: 2.55em; 
    position:absolute;
    bottom:0;
    right:0;
    margin-right: 3em;
}

#bottom {
    padding: .62em;
    position:absolute;
    bottom:0;
    right:0;
    list-style-type: none;

}
li {
    font-family: "andale mono";
    display: inline;
}

